*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
Accounting/[Dd]ebug/
CemasCore/[Dd]ebug/
CemasCoreApi/[Dd]ebug/
Common/[Dd]ebug/
ExtensionsManager/[Dd]ebug/
Loaning/[Dd]ebug/
Models/[Dd]ebug/
Reports/[Dd]ebug/
Tests/[Dd]ebug/

[Dd]ebugPublic/
Accounting/[Dd]ebugPublic/
CemasCore/[Dd]ebugPublic/
CemasCoreApi/[Dd]ebugPublic/
Common/[Dd]ebugPublic/
ExtensionsManager/[Dd]ebugPublic/
Loaning/[Dd]ebugPublic/
Models/[Dd]ebugPublic/
Reports/[Dd]ebugPublic/
Tests/[Dd]ebugPublic/

[Rr]elease/
Accounting/[Rr]elease/
CemasCore/[Rr]elease/
CemasCoreApi/[Rr]elease/
Common/[Rr]elease/
ExtensionsManager/[Rr]elease/
Loaning/[Rr]elease/
Models/[Rr]elease/
Reports/[Rr]elease/
Tests/[Rr]elease/

[Rr]eleases/
Accounting/[Rr]eleases/
CemasCore/[Rr]eleases/
CemasCoreApi/[Rr]eleases/
Common/[Rr]eleases/
ExtensionsManager/[Rr]eleases/
Loaning/[Rr]eleases/
Models/[Rr]eleases/
Reports/[Rr]eleases/
Tests/[Rr]eleases/

x64/
x86/
build/
bld/

[Bb]in/
Accounting/[Bb]in/
CemasCore/[Bb]in/
CemasCoreApi/[Bb]in/
Common/[Bb]in/
ExtensionsManager/[Bb]in/
Loaning/[Bb]in/
Models/[Bb]in/
Reports/[Bb]in/
Reports/[Bb]in/
Tests[Oo]bj/
Accounting/[Oo]bj/
CemasCore/[Oo]bj/
CemasCoreApi/[Oo]bj/
Common/[Oo]bj/
ExtensionsManager/[Oo]bj/
Loaning/[Oo]bj/
Models/[Oo]bj/
Reports/[Oo]bj/
Tests/[Oo]bj/

[Oo]ut/
Accounting/[Oo]ut/
CemasCore/[Oo]ut/
CemasCoreApi/[Oo]ut/
Common/[Oo]ut/
ExtensionsManager/[Oo]ut/
Loaning/[Oo]ut/
Models/[Oo]ut/
Reports/[Oo]ut/
Tests/[Oo]ut/

msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/